<!doctype html>
<html>
    <head>
        <title>Newton School</title>
        <link rel = "stylesheet" href = "/css/style.css" type = "text/css" />
    </head>
    <body>
        {{{ body }}}
    </body>
</html>