<div id = "formContainer">
    <form id = "getForm" action = "/thankYou" action = "GET">
        <h1>GET Form</h1>
        <input name = "name" type = "text" placeholder = "Name" />
        <input name = "email" type = "email" placeholder = "Email" />
        <input name = "password" type = "password" placeholder = "password" />
        <input name = "mobile" type = "tel" placeholder = "Mobile Number" />
        <button type = "submit">Submit</button>
    </form>
    <form id = "postForm" action = "/thankYou" method = "POST">
        <h1>POST Form</h1>
        <input name = "name" type = "text" placeholder = "Name" />
        <input name = "email" type = "email" placeholder = "Email" />
        <input name = "password" type = "password" placeholder = "password" />
        <input name = "mobile" type = "tel" placeholder = "Mobile Number" />
        <button type = "submit">Submit</button>
    </form>
</div>