<div id = "thankYou">
    <h1>Thank you {{ name }} for logging in!</h1>
    <p>Your details are as follows:</p>
    <ul>
        <li>Email: {{ email }}</li>
        <li>Password: {{ password }}</li>
        <li>Mobile Number: {{ mobile }}</li>
    </ul>
    <img src = "/img/window.svg" />
</div>